@{
    ViewBag.Title = "Home Page";
}
@model CustomerDetailsViewModel

<div class="panel panel-default">
    <div id="ajax-show-list" class="panel-body">
        <partial name="_CustomerDetails" />
    </div>
</div>